<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/surveys/<%= @survey.id %>/questions/new">Add Questions</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<ul>
<% @survey.questions.each do |question| %>
  <li>
    <%= question.question %>
    <button class="btn btn-default"><a href="/surveys/<%= @survey.id %>/questions/<%= question.id %>/edit">Edit</a></button>

    <form class="form-group" action="/surveys/<%= @survey.id %>/questions/<%= question.id %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" class="btn btn-default">Delete</button>
    </form>
  </li>
<% end %>
</ul>
